h1 {
    color: #576F72;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #F0EBE3;
}
.nav-link {
    color: #F0EBE3;
}
.nav-link:hover {
    color: #afa89e;
}

#map {
    margin: auto;
    margin-top:5em;
    height: 75vh;
    width: 75vw;
}