body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#map {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

svg[viewbox="0 0 27 41"] > path {
    fill: #EA4335;
}
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #576f72;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mapboxgl-canvas {
    margin-top: -38px;
}

.mapbox-directions-component-keyline {
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
}

.mapbox-directions-origin {
    display: none;
}

.mapbox-directions-destination {
    display: none;
}

.directions-icon-reverse {
    display: none;
}

.mapbox-directions-profile {
    margin: 50px 0 0 0;
}

.mapboxgl-ctrl-top-left > .mapboxgl-ctrl-group {
    display: inline-block;
    position: absolute !important;
    top: 5px;
}

.mapboxgl-ctrl-geocoder {
    position: absolute !important;
    top: 0;
}
.mapboxgl-ctrl-geocoder--icon-search {
    top: 25% !important;
}

label[for=mapbox-directions-profile-driving-traffic] {
    display: none;
}

.mapbox-directions-profile label {
    width: 33%;
}
.mapbox-directions-instructions,
.mapbox-directions-instructions-wrapper {
    height: calc(100% - 38px);
}

.mapbox-directions-component.mapbox-directions-route-summary {
    background-color: #576F72;
}

.mapbox-directions-component.mapbox-directions-route-summary > h1 {
    color: #E4DCCF;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}

.mapboxgl-popup-close-button {
    color: #F0EBE3
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #F0EBE3;
    background-color: #576F72;
}

.mapboxgl-user-location,
.mapboxgl-user-location-accuracy-circle {
    display: none;
}

.mapboxgl-ctrl button:not(:disabled):hover {
    background-color: #fff;
}


@media (max-width: 400px) {
    .mapbox-directions-component.mapbox-directions-route-summary > span {
        float: right;
    }
}

/* Geocoder API smaller screen size */
@media (max-width: 640px) {
    .mapboxgl-ctrl-geocoder {
        width: 240px !important;
        max-width: 240px !important;
    }

    .mapbox-directions-profile {
        width: 240px;
        max-width: 240px;
    }

    .mapboxgl-ctrl-geocoder--icon-search {
        left: 10px !important;
        top: 9px !important;
    }

    .mapboxgl-ctrl-geocoder input[type='text'] {
        padding: 10px 40px 10px 40px;
    }

    .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right>* {
        top: 2px !important;
    }
}

/* Geocoder API larger screen size */
@media (min-width: 640px) {
    .mapboxgl-ctrl-geocoder {
        width: 300px !important;
        max-width: 300px !important;
    }

    .mapbox-directions-profile {
        width: 300px;
        max-width: 300px;
    }

    .mapboxgl-ctrl-geocoder--icon-search {
        top: 10px !important;
    }

    .mapboxgl-ctrl-geocoder input[type='text'] {
        padding: 10px 40px 10px 35px;
    }

    .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right>* {
        top: 9px !important;
    }
}
/* Mapbox screen size "medium" and below */
@media only screen and (max-width: 799px) {

    /* Full screen map */
    #map {
        height: 100%;
    }

    .mapboxgl-popup {
        max-width: 180px !important;
    }

    .mapboxgl-ctrl-directions {
        min-width: 0%;
        width: auto;
    }

    .mapboxgl-ctrl-bottom-left {
        bottom: 0;
        position: absolute;
    }

    .directions-control.directions-control-instructions {
        max-width: none;
        min-width: 0%;
        width: auto;
        position: absolute;
        bottom: 0;
        pointer-events: auto;
    }

    .directions-control.directions-control-directions {
        margin: 0;
        -webkit-transition: max-height 0.3s ease-out;
        -moz-transition: max-height 0.3s ease-out;
        -o-transition: max-height 0.3s ease-out;
        -ms-transition: max-height 0.3s ease-out;
        transition: max-height 0.3s ease-out;
        position: relative;
    }

    .directions-control.directions-control-directions.collapsed {
        max-height: 38px !important;
    }

    .dirToggle {
        position: absolute;
        top: 0.25rem;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 3;
        width: 120px;
        --bs-btn-hover-color: #576F72 !important;
        --bs-btn-hover-bg: #F0EBE3 !important;
        --bs-btn-hover-border-color: #7D9D9C !important;
}

    .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl.shiftup {
        margin: 0 0 48px 10px;
    }

    .mapbox-directions-error {
        text-align: center;
        margin-top: 50px;
    }
}

/* Mapbox screen size "large" and up */
@media only screen and (min-width: 800px) {

    /* Center map on page */
    #map {
        margin: auto;
        height: 75vh;
        width: 75vw;
    }

    .mapboxgl-ctrl-top-left {
        z-index: 99;
    }

    .mapboxgl-ctrl-bottom-left {
        position: absolute;
        top: 0;
        height: 100%;
    }

    .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
        bottom: 0;
        position: absolute;
    }

    .directions-control.directions-control-instructions {
        top: 0;
        margin-top: 97px;
        margin-left: 10px;
        pointer-events: auto;
    }

    .dirToggle {
        display: none !important;
    }
}